h1{
    color:red !important;
    float: left !important;
}

.noBullets{
    list-style-type: none;
    margin-left: 0px;
}

.inlineBlock{
    display: inline-block !important;
}

.right{
    padding-right: 10px;
    padding-bottom: 10px;
}

.favorite{
    border: 2px solid orange;
    border-radius: 10px;
    float: right;
    height: 40px;
    width: 40px;
    padding-left: 10px;
    padding-top: 5px;
}